.add{
    justify-content: center;
}

.add-item{
    margin: 10px 0;
}

.add-label{
    font-weight: 300;
}

.add-label::after{
    content: ":  "
}

.add-route-info{
    margin-left: 4rem;
    justify-content: space-between;
}

.add-location{
    margin: 0 2rem;
    flex-grow:1;
}